*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;
    box-sizing:border-box;
}

body{
    background-color:lightgrey;
}

.hamburger-icon {
    display: none;
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: darkslateblue;
}
.logo-text{
    color:white;
}

.hamburger-icon{
    border:none;
    background-color:transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x{
    color:white;
    font-size:1rem;
    cursor:pointer;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation a{
    color:white
}


@media screen and (max-width: 600px) {
header {
    display: block;
}
.navigation {
    height:0;
    overflow:hidden;
    flex-direction: column;
    align-items: center;
    transition:all 0.5s ease-in-out;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.hamburger-icon {
    display: block;
}
.fa-x{
    display:none;
}
header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
    margin-top: 1rem;
    height:100px;
}
header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
    display:none;
}
header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
    display:inline-block;
}
}