<header>
    <div class="logo">
      <h1 class="logo-text">Workout Tracker</h1>
      <button class="hamburger-icon">
        <label for="dropdown">
          <i class="fa-solid fa-bars"></i>
          <i class="fa-solid fa-x"></i>
        </label>
        <input type="checkbox" id="dropdown" />
      </button>
    </div>
    <ul class="navigation">
        <li class="nav-item">
            <a routerLink="/workouts">Workouts</a>
        </li>
        <li class="nav-item">
            <a routerLink="/personalrecords">Personal Records</a>
        </li>
        <li class="nav-item">
            <a routerLink="/muscles">Muscle Specific Exercises</a>
        </li>
        <li class="nav-item">
            <a routerLink="/splits">Workout Splits</a>
        </li>
    </ul>
</header>

<br>
<br>
<br>
<router-outlet></router-outlet>
