<!-- have a bar in the middle that we enter the muscle in -->
<!-- show the muscles provided above that -->
<input type="text" placeholder="Enter Muscle" #Muscle name="Muscle" value="">
<button type="button" class="btn btn-primary" (click)="addClick(Muscle.value)">Add Workout</button>
<br>
                

abdominals
abductors
adductors
biceps
calves
chest
forearms
glutes
hamstrings
lats
lower_back
middle_back
neck
quadriceps
traps
triceps

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Muscle</th>
            <th>Equipment</th>
            <th>Difficulty</th>
            <th>Instructions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let muscleData of MuscleGroupList">
            <td>{{ muscleData.name }}</td>
            <td>{{ muscleData.type }}</td>
            <td>{{ muscleData.muscle }}</td>
            <td>{{ muscleData.equipment }}</td>
            <td>{{ muscleData.difficulty }}</td>
            <td>{{ muscleData.instructions }}</td>
        </tr>
    </tbody>
</table>
