<!-- have a bar in the middle that we enter the muscle in -->
<!-- show the muscles provided above that -->
<input type="text" placeholder="Enter Muscle" defaultValue={Muscle}>
<button type="button" class="btn btn-primary" (click)="addClick()">Add Workout</button>
<br>
                

abdominals
abductors
adductors
biceps
calves
chest
forearms
glutes
hamstrings
lats
lower_back
middle_back
neck
quadriceps
traps
triceps

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Muscle</th>
            <th>Equipment</th>
            <th>Difficulty</th>
            <th>Instructions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let muscleData of MuscleGroupList">
            <td>{{ muscleData.Name }}</td>
            <td>{{ muscleData.Type }}</td>
            <td>{{ muscleData.Muscle }}</td>
            <td>{{ muscleData.Equipment }}</td>
            <td>{{ muscleData.Difficulty }}</td>
            <td>{{ muscleData.Instructions }}</td>
        </tr>
    </tbody>
</table>
